<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点击事件指令</title>


    <script src="../plugins/angularjs/angular.min.js"></script>

    <script>
         var myApp = angular.module("myFirstApp",[]); //自定义模块

        myApp.controller("myController",function ($scope) {
            $scope.add=function () {
                $scope.c = parseInt($scope.a)  + parseInt($scope.b);
            }
        })
    </script>

</head>
<body ng-app="myFirstApp"  ng-controller="myController">
    <input ng-model="a"> + <input ng-model="b"><button ng-click="add()">等于</button> <input ng-model="c">
</body>
</html>